*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    perspective: 1000px;

}

.container{
    position: relative;

    z-index: 3;
    background: khaki;
    width: 600px;
    display :flex;  
    justify-content: center;
}

.card{
    transform-style:preserve-3d ;
    margin-top: 60px;
    display:block;
    width: 500px;
    height: 700px;
    border-radius:10px 10px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

.img{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}
.color  {
    justify-content: center;
    width: 300px;
    height: 300px ;
    border-radius: 80%;
    background-color: #21d190;
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
    z-index:1;
}

.img img{
    position: absolute;
    top: 30px;
    width: 360px;
    align-items: center;
    justify-content: center;
    transition:all 0.75s ease;
    z-index:2;

    
}
.title h3{
    font-size: 23px;
    justify-content: center;
    align-items: center;
    display: flex;
    color:  #375c4e;
    transition:all 0.75s ease;


}
.description {
    font-size: 19px;
    color:rgb(112, 108, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
    }
 .description p {
     transition:all 0.75s ease
     }   
    .buttons {
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     
    }
    button{
        margin: 10px;
        padding: 8px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        border-radius: 15px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background:none;
        border: none;
        background-color: white;
        cursor: pointer ;
        transition:all 0.75s ease;
    }

    .buyer button{
        width: 75%;
        margin-top: 40px;
        margin-left: 60px;
        background-color: #24d192;  
        color: white;
        padding: 8px;
        font-size: 18px;
        transition:all 0.75s ease

    }